/* 

* {margin: 0; padding: 0}

    body{
        font-family: 'Arial', sans-serif;
        background-size: 50%;

    }
    .codehim-form{
        max-width: 400px;
        min-height: 400px;
        box-sizing: border-box;
        background: rgba(255, 255, 255, 0.6);
        box-shadow: 4px 2px 16px rgba(0, 0, 0, 0.4);
        border-radius: 8px;
        margin:  20px auto 0 auto;
        padding: 25px;
        color: #414141;

    }
    .cm-input{
        display: block;
        box-sizing: border-box;
        padding: 10px;
        width: 100%;
        margin: 14px auto;
        border-radius: 20px;
        border: 1px solid #ccc;


    }
    .cm-input:focus{
        outline: 0;
        border-color: #f9cb81;

    }
    .cm-input:invalid{

    }


    .gr-bg{
        background: rgb(93,17,100);
background: linear-gradient(90deg,  0%,rgb(93,17,100) 55%, rgb(93, 17, 92) 100%);

    }



    .btn-login{
        display: block;
        width: 100%;
        padding: 10px;
        border: 0;
        color: #fff;
        border-radius: 20px;
        cursor: pointer;

    }
    .btn-login:focus{
        outline: 0;
    }

    .btn-login:hover{
        opacity: 0.8;
        transition: .3s;
    }

    .form-title{
        padding: 12px;
        text-align: center;
        position: relative;


    }
    .form-title h2{
        color: rgb(93,17,100);
    }
    .form-title .user-icon{
        position: absolute;

        font-size: 42px;
        color: #fff;
        width: 90px;
        height: 90px;
        line-height: 90px;
        text-align: center;
        border-radius: 45px;
        top: -60px;
        left: -45px;

    } */


    body{
        font-family: 'Arial', sans-serif;
            background: rgb(93,17,100);
        background-size: 50%;
    }
    .hq-template{
        margin-top: 30px;
    }
    .pic-block{
        padding: 0;
        position: relative;
        background: url(../images/enfant.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        color: rgb(20, 18, 18);
        opacity: 0.5;
    }
    .pic-block .overlay{
        position: absolute;
        top: 0;
        bottom: 0;
     
        opacity: 0.8;
        width: 60%;
        height: 100%;
        z-index: 1;
        display: flex;
        align-items: center;
    }
    .pic-block img{
        width: 100%;
        height: 100%;
    }
    .pic-block .welcome{
        padding: 6%;
    }
    .pic-block .welcome h3{
        text-align: center;
        font-weight: 500;
        font-size: 50px;
        line-height: 1.3;
        color: #ffff;
    }
    .pic-block .welcome p{
        text-align: center;
        line-height: 1.6;
        font-size: 30px;
        margin-top: 20px;
        color: #ffff;
    }
    .login-block{
        padding: 3%;
        background: #ffff;
    }
    .login-block h3 {
        text-align: center;
        font-weight: 500;
        color: #2D2254;
    }
    .login-block label{
        color: #0a1011;
        font-weight: 400;
    }
    .login-block input{
        border-color: #2d2254 ;
        background: rgb(252, 244, 244) !important;
       
        outline: none !important;
        font-size: 16px;
    }
    .login-block input:focus{
        border-radius: 5px;
        border-color: #2d2254 !important;
         color: rgb(24, 23, 23) !important;
    }
 
    
    .login-block .forgot{
        float: right;
        color: #2d2254;
    }
    .login-block .login-btn{
        text-align: center;
        width: 100%;
    }
    .login-block .login-btn a{
        color: #fff;
        text-decoration: none !important;
    }
    .login-block .separator{
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
    }
    .login-block .separator hr{
        border-top: 1px solid rgb(93,17,100);
        border-color: rgb(93,17,100);
        flex-grow: 1;
    }
    .login-block .separator span{
        font-size: 15px;
        color: rgb(93,17,100);
        padding-left: 5px;
        padding-right: 5px;
    }
    .login-block .social-media{
        text-align: center;
    }
    .login-block .social-media a{
        border-radius: 50%;
        padding: 5px 0px;
        margin-right: 10px;
    }
    .login-block .social-media a i{
        color: rgb(250, 241, 241);
         height: 50px;
        width: 40px;
    }
    .login-block .social-media a.facebook{
        background-color: rgb(93,17,100);
        
    }
    .login-block .social-media a.twitter{
        background-color: rgb(93,17,100);
        }
    .login-block .social-media a.google{
        background-color: rgb(93,17,100);
        
    }
    .login-block .social-media a.linkedin{
        background-color: rgb(93,17,100);
        
    }
    .login-block p{
        color: rgb(93,17,100);
        margin-top: 20px;
        font-weight: 400;
        text-align: center;
    }
    
    .copyright{
      text-align: center; 
        padding: 20px;
        font-size: 16px;
    }
    .copyright a{
      color: rgb(223, 192, 226) !important;
      font-weight: bold;
    }
    @media only screen and (max-width: 991px){
        .pic-block{
            height: 400px;
        }
    }
    
    @media only screen and (max-width: 575px){
        .login-block{
            margin: auto;
        }
        .pic-block{
            margin: auto;
        }
    }
    .form-title{
        background-color: #ffff;
        border-radius: 10px;
    }
   
    
    * {margin: 0; padding: 0}
    
        body{
            font-family: 'Arial', sans-serif;
            background-size: 50%;
    
        }
        .codehim-form{
            max-width: 400px;
            min-height: 450px;
            box-sizing: border-box;
            background: rgba(255, 255, 255, 0.6);
            box-shadow: 4px 2px 16px rgba(0, 0, 0, 0.4);
            border-radius: 8px;
            margin:  20px auto 0 auto;
            padding: 25px;
            color: #414141;
    
        }
        .cm-input{
            display: block;
            box-sizing: border-box;
            padding: 10px;
            width: 100%;
            margin: 14px auto;
            border-radius: 20px;
            border: 1px solid #ccc;
    
        }
        
        .cm-input:focus{
            outline: 0;
            border-color: #f9cb81;
    
        }
        
   
        .gr-bg{
            background: rgb(93,17,100);
    background: linear-gradient(90deg,  0%,rgb(93,17,100) 55%, rgb(93, 17, 92) 100%);
    
        }
    
    
      
    
        .btn-login{
            display: block;
            width: 100%;
            padding: 10px;
            border: 0;
            color: #fff;
            border-radius: 20px;
            cursor: pointer;
    
        }
        .btn-login:focus{
            outline: 0;
        }
    
        .btn-login:hover{
            opacity: 0.8;
            transition: .3s;
        }
    
       
        .form-title{
            padding: 12px;
            text-align: center;
            position: relative;
    
    
        }
        .form-title h2{
            color: rgb(93,17,100);
        }
        .form-title .user-icon{
            position: absolute;
    
            font-size: 42px;
            color: #fff;
            width: 90px;
            height: 90px;
            line-height: 90px;
            text-align: center;
            border-radius: 45px;
            top: -60px;
            left: -45px;
    
        }
    
